<!DOCTYPE html>
<html lang="en">
 
<head>
    <title>dunnhumby behave UI</title>
 
 
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
 
    <link href="http://getbootstrap.com/examples/jumbotron-narrow/jumbotron-narrow.css" rel="stylesheet">
 
    <script src="http://www.google.com/jsapi" type="text/javascript"></script>
    <script type="text/javascript">google.load("jquery", "1.3.2");</script>
</head>

<script type="text/javascript">
</script>

<body>
	<h1 align="center"><b><i> BDD UI Framework </i></b></h1>
        <h3 align="center"><b><i><u> Features </u></i></b></h3>
	<div class="container" id="steps">
		{% for item in items %}
			<pre id="step_id_{{ item.keys()[0] }}"> {{ item.values()[0] }} </pre>
		{% endfor %}
	</div>
</body>	
</html>
